@{
    ViewBag.Title = "Avstemning";
}

<div class="jumbotron">
    <h1>Valg 2021</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Valg av nominerte kandidater</h2>
        <p>
            Etter nominasjonen er ferdig, skal de nominerte kandidatene ha en final avstemning for å beslutte valget av den nye fagforeningslederen. Her kan man være med å stemme.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Kandidat 1, Simen <a class="btn btn-default" href="Stemt"> Stem</a>
        </p>
        <p>
            Kandidat 2, Ole <a class="btn btn-default" href="Stemt"> Stem</a>
        </p>
        <p>
            Kandidat 3, Pole <a class="btn btn-default" href="Stemt"> Stem</a>
        </p>
        <p>
            <a class="btn btn-default" href="Resultat">Resultater</a>
        </p>
        <p>
            OBS! Avstemningen blir lukket 10.August.
        </p>
    </div>
</div>

