
@{
    ViewBag.Title = "Resultat";
}

<div class="jumbotron">
<h1>Valg 2021</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Resultatet av valget og kåringen av den nye fagforeningslederen</h2>
        <p>
            Når avstemningens deadline er møtt, vil kandidaten med flest stemmer bli kåret til vinner
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Kandidat 1, Simen: 10 antall stemmer
        </p>
        <p>
            Kandidat 2, Ole: 7 antall stemmer
        </p>
        <p>
            Kandidat 3, Pole: 6 antall stemmer
        </p>
        <p>
            Antall brukere som har avlagt stemme: 23 
        </p>
    </div>
</div>

