
@{
    ViewBag.Title = "Stemt";
}

<div class="jumbotron">
    <h1>Valg 2021</h1>
</div>
<div class="row">
    <div class=" col-md-4">
    <h1>Takk for din stemme!</h1>
    </div>
    <div>
        <p>
            Trykk <a class="btn btn-default" href="Resultat">her</a> for å se resultatet av valget
        </p>
    </div>
</div>



