@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universitetet i Sør-øst Norge<br />
    Raveien 201 <br />
    <abbr title="Telefon for kontakt">Tlf.nr:</abbr>
    46 47 1518
</address>

<address>
    <strong>Ta kontakt:</strong>   <a href="mailto:sim1skogen@gmail.com">Sim1skogen@gmail.com</a><br />
</address>