@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Valg 2021</h1>
    <p class="Dette er hjemmesiden til valgsapplikasjonen. Her finner du Forskjellig innformasjon om valget"></p>
    <p><a href="https://na.leagueoflegends.com/en-us/" class="btn btn-primary btn-lg">Press her</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Valg av fagforeningsleder</h2>
        <p>
          Fagforeningen tar vare på de ansatte sine interesser overfor arbeidgiver. På denne siden kan du nominere kandidater til ledervervet og stemme på din kandidat i valget.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Nominere</a></p>
    </div>
    <div class="col-md-4">
        <h2>Informasjon</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://www.sekirothegame.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://bloodborne.fandom.com/wiki/Bloodborne">Smack knappen</a></p>
    </div>
</div>