@{
    ViewBag.Title = "Kandidat List";
}
//Denne filen viser en liste over alle registrerte kandidater
//Legge til ny og ender på eksisterende kandidater
//slette kandidater

<h2>Kandidat Nominering og liste av kandidater</h2>

//Knapp som opener popupform for å nominere ny kandidat
<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Home")')"><i class="fa fa-plus"></i> Nominer bruker</a>
//table for liste over kandidater
<table id="kandidatTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Bruker</th>
            <th>Fakultet</th>
            <th>Institut</th>
            <th>Informasjon</th>
            <th>Stemmer</th>
            <th>Bilde</th>
            <th> </th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script>
        //legger til data til tabelen fra databasen
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable =  $("#kandidatTable").DataTable({
                "ajax": {
                    "url": "/Home/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "bruker" },
                    { "data": "fakultet" },
                    { "data": "institut" },
                    { "data": "informasjon" },
                    { "data": "stemmer" },
                    { "data": "bilde" },
                    {"data":"epost" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Home")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
            });
        });

        //function for popup vinduet 
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Kandidat Informasjon',
                    height: 500,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
        }
      
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if($(form).valid()){
                $.ajax({
                    type : "POST",
                    url : form.action,
                    data : $(form).serialize(),
                    success : function (data) {
                        if(data.success)
                        {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message,{
                                globalPosition :"top center",
                                className : "success"
                            })

                        }
                    }
                });
            }
            return false;
        }
        
        //Delete function
        function Delete(id) {
            if(confirm('Vil du slette denne kandidaten?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Kandidat")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
    </script>
}
